@charset "UTF-8";

               body{
                background-image:linear-gradient(to left, rgb(137, 144, 166), rgb(100, 100, 151));
                   background-color: rgb(17, 62, 69);
                   margin: 0;
               }
              
               header{
               background-image:linear-gradient(to top, rgb(132, 132, 217), blue);
                padding: 10px;
               }
               nav{
                padding: 5px;
               }
               nav > a  {
                padding: 5px;
                text-decoration: none;
                color: rgb(199, 212, 221);
               }
               nav > a:hover{
                background-color: rgb(108, 135, 127);
                border-radius: 5px;
                
               }

               main{
                margin: auto;
                background-color: rgb(188, 193, 197);
                width: 900px;
                max-width: 95%;
                padding: 10px;
                border-radius: 0px 0px 5px 5px;
                box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.417);
               }
             
               h1{
              color: rgb(3, 3, 44);
              text-align: center;
             }
             .pinguim{
              width: 400px;
              max-width: 80%;
              height: 500px;
              display: block;
              margin: auto;
              border-radius: 5px;
              box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.316);
             }
             .aura{
              width: 400px;
              max-width: 80%;
              height: 500px;
              display: block;
              margin: auto;
              border-radius: 5px;
              box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.316);

             }
             .eguo{
              width: 500px;
              max-width: 80%;
              height: 500px;
              display: block;
              margin: auto;
              border-radius: 5px;
              box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.316);

             }